@import "tailwindcss";

::selection {
    background-color: #4e243e; /* Cambia esto por el color que desees */
    color: black; /* Cambia el color del texto cuando esté seleccionado */
  }
  
  #particles canvas {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
  }